<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <h1><b><%= "Asistencias" %></b></h1>
      </div>
      <div class="panel-body">
      <%= link_to 'Alumno', Rutina , class: "btn btn-success"%>
      <%= link_to 'Clase', Asist , class: "btn btn-primary"%>
      </div>
    </div>
  </div>
</div>