<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		<h1><b>CLASE: <%= @asists.clase.nombre %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
      	FECHA:
        <%= @asists.fecha.strftime("%d - %m - %Y") %>
      </div>
      <div class="panel-body">
      	CANTIDAD DE ALUMNOS/AS: 
      	<%= @asists.cantidad %>
      </div>
    </div>
  </div>
</div>

<%= link_to "REGRESAR", Asist, class: "btn btn-primary" %>
