<div class="container">
  <div class="panel-group">
    <div class="panel panel-primary">
      <div class="panel-heading">
  		<h1><b><%= @clases.nombre %></b></h1>
      </div>
      <big><b>
      <div class="panel-body">
        Profesor/es: 
        <%= @clases.user.nombre %>
      </div>
      <div class="panel-body">
      	Descripción: 
      	<%= @clases.desc %>
      </div>
      </b></big>
    </div>
  </div>
  <%= link_to "Volver", Clase, class: "btn btn-primary" %>
</div>