<!DOCTYPE html>
	
	    <center><h1>Gimnasio Funcionality Chris</h1><center>
	    <center><h3>Bienvenidos a nuestra página</h3><center>
	    <br>
	    <%= link_to "Ingresar", {controller: "home", action: "index"}, class: "btn btn-lg btn-primary" %>
	</div>


