<!DOCTYPE html>
	
	    <center><h1>Gimnasio Funcionality Chris</h1><center>
	    <br>
	    <%= link_to "Administrador", {controller: "administradors", action: "index"}, class: "btn btn-lg btn-primary" %>
	     <%= link_to "Profesor", {controller: "profesors", action: "index"}, class: "btn btn-lg btn-primary" %>


	</div>


