
<h1>Planes y clases</h1>
<div class="table-responsive">
<table class="table table-hover">
<tr>
  <th>Plan</th>
  <th>Precio</th>
  <th>Descripcion</th>
</tr>
<tr>
  <td>3x5</td>
  <td></td>
  <td></td>
</tr>
<tr>
  <td>Libre</td>
  <td></td>
  <td></td>
  </tr>
<tr>
  <td>Boxeo</td>
  <td></td>
  <td></td>
  </tr>
<tr>
  <td>B+L</td>
  <td></td>
  <td></td>
  </tr>
<tr>
  <td>M+L</td>
  <td></td>
  <td></td>
</tr>
</table>
</div>


